* {
    margin: 0px;
}

html {
    width: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background: #F0F0FF;
}

p {
    color:darkgray;
}

span {
    color:blue;
}

button {
    background-color:darkblue;
    color:white;
    height:40px;
    width:150px;
    border-radius:10px;
    padding:5px;
    font-size:large;
}

.nav {
    width:100%;
    background: #FFFFFF;
    height: 50px;
    margin: 0px 0 20px 0;
    padding: 20px 0 10px 15%;
}

.container {
    

}

.hero {
    width: 100%;
    height: 500px;
    margin: 50px 0 20px 0;
    padding: 20px 0 10px 15%;
    vertical-align: middle;
}

#heroSol {
display:inline-block;
float:left;
width:35%;
}

#heroSag {
    display: inline-block;
    float: left;
    width: 35%;
    padding-left:15px;
}

#heroBaslik {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(40px, 6vw, 65px);
    text-align: left;
    font-weight: 700;
}

#heroMetin {
    font-size:large;
    color:darkgray;
    margin:30px 0 30px 0;
}

#heroImage {
    width:100%;
    height:auto;
    border-radius:15px;
    box-shadow:rgba(0,0,0,0.4) 10px 10px inset;
}

#logo {
    text-align: left;
    display: inline-block;
    float: left;
    width: 15%;
}

    #logo a {
        font-size: xx-large;
        color: darkblue;
        text-decoration: none;
    }

#menu {
    align-content: center;
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    float: left;
    width: 55%;
    height: 100%;
}

    #menu a {
        font-size: large;
        color: darkgreen;
        text-decoration: none;
        margin-left: 25px;
    }

        #menu a:hover {
            color: blue;
        }

        #menu a:active {
            color: blue;
        }

#menuButton {
    display: none;
}

.tekno {
    width: 100%;
    height: 500px;
    margin: 50px 0 20px 0;
    vertical-align: middle;
    background-color: #fff;
    padding: 20px 0 10px 15%;
}

.table {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 70%;
    min-width:400px;
}

.col {
    overflow: hidden;
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(0,0,255,0.2) 10px 10px;
}

    .col:hover {
        transform:translateY(-10px);
        transition:0.2s;
    }

    .col a {
        text-decoration:none;
        color:blue;
    }

.colImage {
    width:100%;

}

#colText {
    padding:0 15px;
    margin:10px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
margin-bottom:15px;
}

#teknoSpan {
    display:inline-block;
    color:white;
    background-color:darkblue;
    padding:5px;
    border-radius:10px;
    margin-bottom:20px;
}

.js {
    width: 100%;
    height: 500px;
    margin: 50px 0 20px 0;
    background-color: #070D33;
    padding: 20px 0 10px 35%;
    align-content:center;
    
}

.jsBody {
    width:35%;

}

.jsKutu {
    background-color: #333333;
    height:200px;
    text-align:center;
    padding:25px;
    border-radius:20px;
}

.jsBaslik {
    font-size:xx-large;
    color:white;
    margin-bottom:50px;
}

.jsParagraf {
    margin-bottom:30px;
}

#deger {
    margin: 25px 0 25px 0;
    font-size: clamp(40px, 6vw, 65px);
    font-weight:900;
    color:white;
}